@font-face {
  font-family: Comfortaa;
  src: url("/fonts/Comfortaa_Regular.ttf");
}

@font-face {
  font-family: Comfortaa;
  src: url("/fonts/Comfortaa_Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Comfortaa;
  src: url("/fonts/Comfortaa_Thin.ttf");
  font-weight: 100;
}

body {

}

main {
  font-family: Comfortaa, "Open Sans", sans-serif;
  background: rgba(55,23,60,1) url("/images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 900px;
  //background: rgba(255,230,68,0.47);
  //background: -moz-radial-gradient(center, ellipse cover, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,230,68,0.47)), color-stop(76%, rgba(231,56,39,0.11)), color-stop(100%, rgba(231,56,39,0)));
  //background: -webkit-radial-gradient(center, ellipse cover, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //background: -o-radial-gradient(center, ellipse cover, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //background: -ms-radial-gradient(center, ellipse cover, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //background: radial-gradient(ellipse at center, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe644', endColorstr='#e73827', GradientType=1 );

  .wrapper {
    width: 800px;
    margin: 0 auto;
    color: #fff;
    text-align: center;

    .logo {
      background: url("/images/logo.png") no-repeat center;
      width: 800px;
      height: 450px;
      margin: 0 auto;
      text-indent: -9999em;
      white-space: nowrap;
    }

    h4 {
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 0.1em;
      margin-top: 1em;
      text-transform: uppercase;
    }

    p {
      text-align: justify;
      font-size: 1.2em;
      line-height: 1.2em;
      margin-top: 0.5em;
    }

    h2 {
      font-size: 5em;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.1em;
      margin-top: 0.2em;
    }

    .section-image {
      max-width: 80%;
      border-radius: 20px;
      margin: 2em auto;
      border: 10px solid #fff;
    }

    .calign {
      text-align: center;
    }

    h3 {
      font-size: 1.2em;
      margin-top: 0.5em;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .social {
      width: 100%;
      text-align: center;
      padding: 20px 0px;

      li {
        display: inline-block;
        margin: 0px 20px;
        font-size: 1.5em;
        background: #fff;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        padding: 10px;
        border-radius: 100%;

        a {
          vertical-align: middle;
          color: #4A17CE;
        }
      }
    }

    footer {
      text-align: center;
      font-size: 0.8em;
      font-weight: 100;
      padding: 5em 0;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

  }


}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

  main {

    .logo {
      width: 90%;
      background-size: 100%;
    }
  }

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}


