body {
  background: rgba(55,23,60,1) url("/images/concrete_wall.png");
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,247,99,0.27);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,247,99,0.27) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,247,99,0.27)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,247,99,0.27) 0%, rgba(0,0,0,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,247,99,0.27) 0%, rgba(0,0,0,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,247,99,0.27) 0%, rgba(0,0,0,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,247,99,0.27) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff763', endColorstr='#000000', GradientType=1 );

  .logo {
    background: url("/images/logo.png") no-repeat center;
    width: 800px;
    height: 612px;
    margin: 5% auto;
    text-indent: -9999em;
    white-space: nowrap;
  }

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

  main {

    .logo {
      width: 90%;
    }
  }

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}


