body {

}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(55,23,60,1) url("/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  //background: rgba(255,230,68,0.47);
  //background: -moz-radial-gradient(center, ellipse cover, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,230,68,0.47)), color-stop(76%, rgba(231,56,39,0.11)), color-stop(100%, rgba(231,56,39,0)));
  //background: -webkit-radial-gradient(center, ellipse cover, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //background: -o-radial-gradient(center, ellipse cover, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //background: -ms-radial-gradient(center, ellipse cover, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //background: radial-gradient(ellipse at center, rgba(255,230,68,0.47) 0%, rgba(231,56,39,0.11) 76%, rgba(231,56,39,0) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe644', endColorstr='#e73827', GradientType=1 );

  .logo {
    background: url("/images/logo.png") no-repeat center;
    width: 800px;
    height: 612px;
    margin: 1% auto;
    text-indent: -9999em;
    white-space: nowrap;
  }

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

  main {

    .logo {
      width: 90%;
      background-size: 100%;
    }
  }

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}


