main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #37173c url("/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  main .logo {
    background: url("/images/logo.png") no-repeat center;
    width: 800px;
    height: 612px;
    margin: 1% auto;
    text-indent: -9999em;
    white-space: nowrap; }

@media only screen and (max-width: 979px) {
  main .logo {
    width: 90%;
    background-size: 100%; } }
